<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268120056886-43j12j8h5elvl92r323p295mhaish6a5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268120056886-43j12j8h5elvl92r323p295mhaish6a5</string>
	<key>API_KEY</key>
	<string>AIzaSyBMYYlqrLfn565AaJ8g6mZBTtgw-guKx1w</string>
	<key>GCM_SENDER_ID</key>
	<string>268120056886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Urmat.BreakPoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-dev-132cb</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-dev-132cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268120056886:ios:3e3bee25e611e1acd62497</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-dev-132cb.firebaseio.com</string>
</dict>
</plist>